{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-regular fa-gamepad prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Device</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Device</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-regular fa-tags prefix light-blue-text text-darken-4"></i>
                    <input id="bargain_name" name="bargain_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="bargain_name">Bargain Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="bargain_description" name="bargain_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="bargain_description">Bargain Description</label>
                </div>
            </div>
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-regular fa-award prefix light-blue-text text-darken-4"></i>
						<label for="under_50">
                            <input type="checkbox" id="under_50" name="under_50">
                            <span class="lever"></span>
                            More than 50% discount!
                        </label>
					</div>
				</div>
			</div>
        </form>
    </div>

{% endblock %}