{% extends "base.html" %}
{% block content %}

  <h3 class="light-blue-text text-darken-4 center-align">Bargains</h3>

  <ul class="collapsible">
    {% for bargain in bargains %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
          <i class="fas fa-caret-down"></i>
          <strong>{{ bargain.category_name }}</strong> : {{ bargain.bargain_name }}
          {% if bargain.under_50 == "on" %}
          <i class="fas fa-regular fa-award tooltipped"
              data-position="right" data-tooltip="More than 50% discount!"></i>
          {% endif %}
        </div>
        <div class="collapsible-body">
          <p>{{ bargain.bargain_description }}</p>
          <p><em>by: {{ bargain.created_by }}</em></p>
        </div>
    </li> 
    {% endfor %} 
  </ul>

{% endblock %}