{% extends "base.html" %}
{% block content %}

  <h3>Reports</h3>

  <ul class="collapsible">
    {% for report in reports %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
          <div class="col s3">
            <i class="fas fa-caret-down"></i>
            <button onclick="myFunction()" class="btn-small red lighten-1 buttonfont">Delete</button>            
            <script>
            function myFunction() {
              let text;
              if (confirm("Are you sure?") == true) {
                window.location.href= "{{ url_for('delete_report', report_id=report._id) }}"
              } else {
                window.location.href = "{{ url_for('get_reports') }}"
              }
            }
            </script>
          </div>
          <div class="col s9">
              <div class="categorybox">{{ report.reportcategory_name }}</div>
              <h6>{{ report.bargain_name }}</h6> 
          </div>          
        </div>
        <div class="collapsible-body">
            <p>{{ report.bargain_comment }}</p>
        </div>
    </li> 
    {% endfor %} 
  </ul>

{% endblock %}